.homeBodyContiner {
    position: relative;
    margin-top: 3rem;
    margin-left: 11rem;


}

.homebodyHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.sitesMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socialMediaContainer {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.socialMediaHead {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 22px;
    gap: 0.5rem;

}

.socialMediaCount {
    background-color: var(--sideBarColor);
    border-radius: 50%;
    height: 37px;
    width: 37px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
}

.cross {
    transform: rotate(45deg);
    position: absolute;

}

.searchContainer {
    display: flex;

    gap: 27px;

}

.search {
    border: none;
    outline: none;
    width: 17rem;
    border-bottom: 1px solid var(--sideBarColor);
    color: #A5A5A5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 7px;
}

.searchIcon {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
}

.Sites {
    color: #3C4857;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 41px;
    border-bottom: 3px solid var(--activecolor);
    border-radius: 3px;
    width: 3rem;


}

.socialMedia {
    color: #3C4857;
    font-family: "Open Sans";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 33px;
}

.addNewDataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.5rem 3rem;
    color: #3C4857;
    font-size: 21px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.addSite {
    background: #A5A5A5;
    padding: 3rem;
    border-radius: 5%;
}

.addNew {
    color: #3C4857;

    font-size: 26px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
}

.addNewDataContainer {
    display: flex;
    flex-direction: column;
}

.sitesContainer {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 23px;
    margin-top: 5rem;
}

.sitesContents {
    width: 343px;
    background-color: #d6c2c2;
    border-radius: 1em;
    padding: 12px 20px;
}

.cardImg {
    background-position: "cover";
    border-radius: "50%";
}

.cardHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.siteLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c4857;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;

}

.copyTitle {
    color: #0e85ff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    padding-bottom: 6px;
}

.cardCopy {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.copyPass {
    color: var(--sideBarColor);
    font-size: 12.6px;
    letter-spacing: 0;
    line-height: 17px;
}


body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.modalCover {
    width: 74.1vw;
    height: 100vh;
    top: 13.8%;
    right: 7.9%;
    bottom: 0;
    position: fixed;
}

.modalCover {
    background: rgba(49, 49, 49, 0.8);
}

.modalContent {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #ffffff;
    padding: 30.5px 37.5px;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* .modalCloseBtn {
    
    bottom: 35rem;
    left: 54rem;
    padding: 5px 7px;
} */
.modalBtnClose {
    position: absolute;
    top: -15px;
    right: -12px;

}

.modalHeading {
    color: #3c4857;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 41px;
    margin-bottom: 41px;
}

.modalInput {
    border: none;
    outline: none;
    border: 1px solid #f5f7fb;
    border-radius: 4px;
    background-color: #f5f7fb;
    height: 36px;
    padding: 10px;


}

.modalInput1 {
    border: none;
    outline: none;
    border: 1px solid #f5f7fb;
    border-radius: 4px;
    background-color: #f5f7fb;
    height: 36px;
    padding: 10px;
    width: 77%;

}

.modalHeading {
    color: #3c4857;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 41px;
    margin-bottom: 41px;
}

.modalForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 26px;
    grid-column-gap: 20px;
}

.inputField {
    grid-column: span 2;
}

.textField div,
.url {
    color: #949ca5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 49px;

}

.modalInputNotes {
    border: none;
    outline: none;
    border: 1px solid #f5f7fb;
    border-radius: 4px;
    background-color: #f5f7fb;
    height: 29px;
    padding: 10px;
    width: 100%;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.resetBtn {
    background: none;
    height: 46px;
    width: 181px;
    border: 1px solid #0e85ff;
    border-radius: 4px;
    color: #0e85ff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;


}

.saveBtn {
    background-color: #0e85ff;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    height: 46px;
    width: 181px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}