.dashboard {
    margin: 0 12%;
}

.topBar {


    min-width: 80vw;

}

@media only screen and (max-width: 900px) {
    .dashboard {
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    .topBarContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .topbarContents {
        display: none;
    }

    .topBarContainer {
        position: fixed;
        background-color: var(--sideBarColor);
        margin: 0;
        padding-top: 1.5rem;
        height: 80px;
    }

    .sideBar {
        display: none;
    }

    .homeBodyContiner {
        position: relative;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .sitesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 23px;
        padding-top: 5rem;
    }

    .cross {

        position: fixed;
        bottom: 0;
        right: 33px;
        z-index: 1;
    }

    .topBarMobile {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }

    .topBarLeft,
    .topBarRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .searchBar {
        display: none;
    }

    .Sites {
        position: fixed;
        z-index: 1;
        top: 8rem;
    }

    .socialMediaHead {

        position: fixed;
        top: 7rem;
        right: 1rem;
        z-index: 1;

    }

    .socialMedia {
        font-size: 19.2px;
    }

    .socialMediaCount {
        width: 32px;
    }

    .modalInput1 {
        width: 68%;
    }

    .modalForm {
        display: flex;
    }




}